.r1{
    height: 50px;
    width: 100%;
    background-color: rgb(180, 220, 255);
    margin-bottom: 5px;
    text-align: center;
    line-height: 50px;
}
.container{
    height: 100vh;
}
.r2{
    height: 50px;
    width: 100%;
    background-color: rgb(100, 183, 255);
    margin-bottom: 5px;
    text-align: center;
    line-height: 50px;
}
.r3{
    height: 50px;
    width: 100%;
    background-color: rgb(47, 158, 255);
    margin-bottom: 5px;
    text-align: center;
    line-height: 50px;
}
.r4{
    height: 100px;
    display: flex;
    justify-content: space-between;
    line-height: 360px;
}
.c1{
    width: 65%;
    height: 360px;
    padding: 25px;
    float: right;
    background-color: antiquewhite;
    text-align: center;
    position: relative;
}
.c2{
    width: 65%;
    height: 360px;
    padding: 25px;
    float: left;
    background-color: antiquewhite;
    margin-left: 7px;
    text-align: center;
}
.c3{
    width: 65%;
    height: 360px;
    padding: 25px;
    float: left;
    background-color: antiquewhite;
    margin-left: 7px;
    text-align: center;
}
.r5{
    height: 50px;
    width: 96%;
    padding: 25px;
    text-align: center;
    background-color: aquamarine;
    text-align: center;
    margin-top: 12px;
    line-height: 50px;
}